---
export const prerender = false;
import { actions } from "astro:actions";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Registro">
  <main>
    <div class="login-container">
      <h1>Crear Cuenta</h1>
      <form method="post" action={actions.register} id="register-form">
        <input type="text" name="name" placeholder="Nombre completo" required />
        <input
          type="email"
          name="email"
          placeholder="Correo electrónico"
          required
        />
        <input
          type="password"
          name="password"
          placeholder="Contraseña (mín. 6 caracteres)"
          required
        />
        <input
          type="password"
          name="confirmPassword"
          placeholder="Confirmar contraseña"
          required
        />
        <button type="submit" class="btn btn-primary" style="width: 100%;">
          Crear Cuenta
        </button>
        <div class="options">
          <a href="/auth/login">¿Ya tienes cuenta? Inicia sesión</a>
        </div>
      </form>
    </div>
  </main>
  <script>
    import { actions } from "astro:actions";

    const form = document.getElementById("register-form") as HTMLFormElement;

    form.addEventListener("submit", async (event) => {
      console.log("submit register");

      event.preventDefault();

      const formData = new FormData(form);
      const name = formData.get("name") as string;
      const email = formData.get("email") as string;
      const password = formData.get("password") as string;
      const confirmPassword = formData.get("confirmPassword") as string;

      const { data, error } = await actions.register({
        name,
        email,
        password,
        confirmPassword,
      });

      if (error) {
        alert(error.message);
      }

      if (data) {
        alert(data.message);
        setTimeout(() => {
          window.location.href = "/dashboard";
        }, 100);
      }
    });
  </script>
</Layout>
