<footer>
    <div class="footer-logos">
        <a href="#"><img src="/imagenes/facebook-logo.png" alt="Facebook"></a>
        <a href="#"><img src="/imagenes/x-logo.png" alt="X"></a>
        <a href="#"><img src="/imagenes/whatsapp-logo.png" alt="WhatsApp"></a>
    </div>
    <p>Made by: Subgrupo 13</p>
</footer>
