---
// No auth logic needed anymore
---

<header>
  <div class="container flex">
    <div class="logo">
      <a href="/">
        <img src="/imagenes/poli.png" alt="Logo" />
      </a>
    </div>
    <div class="header-main">
      <nav class="nav-left">
        <a href="/servicios">Servicios</a>
        <a href="#">Nosotros</a>
        <a href="#">Contacto</a>
      </nav>

      <div class="nav-right">
        <a href="/auth/login"
          ><img src="/imagenes/user-svg.svg" alt="Perfil" /></a
        >
      </div>
    </div>
  </div>
</header>
